<br />
<br />
<div class="row">
  <div class="col-sm-6 col-md-2">
    <div class="card text-white bg-info">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">{{userCount}}</div>
        <small class="text-muted text-uppercase font-weight-bold"
          >Total  Users</small
        >

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card text-white bg-info">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">{{userCount}}</div>
        <small class="text-muted text-uppercase font-weight-bold"
          >Total  Users</small
        >

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card text-white bg-info">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">{{userCount}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Total  Users</small>

      </div>
    </div>
  </div>
</div>
